
body{
	font-family: Arial, Helvetica, sans-serif;
}






#main{
	width: 80%;
	margin-right: 10%;
	margin-left: 10%;
	padding: 0px 20px;
}

header {
	margin-top:100px;
	margin-right: 10%;
	margin-left: 10%;
}

#navbar {
	  
	  width: 100%; 
	  position: fixed; 
	  height: 35px;
	  z-index: 1; /* Stay on top */
	  top: 0; /* Stay at the top */
	  /*right: 0;*/
	  background-color: black; 
	  overflow-x: hidden; /* Disable horizontal scroll */
	  padding-top: 20px;
	  padding-right:60px;
	  font-size: 17px;
	  color: white;
	  text-align: center;
}

a {
	color: white;
	text-decoration: none;
	padding-right: 10px;
	padding-left: 10px;
	font-weight: bold;
	border-right: solid white;
	
}


section {

    column-count: 2;
	column-gap: 40px;
    margin-bottom: 60px;
	column-fill: balance;
	padding-bottom: 60px;
	border-bottom: dotted black;
}
h1 {
  color: red;
  font-size: 60px;
}


h2 {
		
  font-size: 50px;
  margin-bottom: 5px;
}

p {
	font-size: 20px;
}

.first:first-letter {
  font-size: 50px;
}

img{
	
max-width: 500px;
}